<div class="container">

    <mat-form-field class="example-full-width">
      <mat-label>Id</mat-label>
      <input matInput placeholder="id" [(ngModel)]="resource.idResource">
    </mat-form-field>
  
    <br>
  
    <mat-form-field class="example-full-width">
      <mat-label>Nombre</mat-label>
      <input matInput required placeholder="name" [(ngModel)]="resource.nameResource">
  
    </mat-form-field>
  
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Tipo de recurso</mat-label>
      <mat-select [(value)]="idTypeSeleccionado" required>
        <mat-option *ngFor="let ty of listaTypes" [value]="ty.idType">
          {{ ty.nameType }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button type="button" mat-raised-button color="primary" (click)="confirmar()"><mat-icon>plus_one</mat-icon></button>
    <br>
    

    <mat-form-field class="example-full-width">
      <mat-label>Cantidad</mat-label>
      <input matInput required placeholder="stock" [(ngModel)]="resource.stock">
    </mat-form-field>
  
    <br>

    <mat-form-field class="example-full-width">
      <mat-label>Estado</mat-label>
      <input matInput required placeholder="status" [(ngModel)]="resource.status">
    </mat-form-field>
  
    <br>
    <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
    <button mat-raised-button color="warn" routerLink="/resources">Cancelar</button>
    <p>{{mensaje}}</p>
  
  </div>