<app-nav-bar-turist></app-nav-bar-turist>
<div>
    <h1 style="text-align: center; padding-top: 20px;">Bienvenidos a SuidsTel</h1>
</div>

<div
  id="InsContainer"
  style="padding-left: 10px; padding-right: 10px; text-align: center"
>
  <mat-card>
    <mat-card-header>
      <mat-card-title>¿Como puedo hacer una reserva?</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="https://www.ceupe.com/images/easyblog_articles/2030/hotel-man-person-2017802.jpg"
      alt="foto-hotel"
    />
    <mat-card-content>
      <p>
        Es tan sencillo como ir a la seccion de hoteles, y darle al boton "Reservar". Usted podra reservar con tiempo
        la habitacion que desee.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" >
        IR A RESERVAR
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        ¿Como puedo buscar hoteles?</mat-card-title
      >
    </mat-card-header>
    <img
      mat-card-image
      src="https://images.squarespace-cdn.com/content/v1/5c1b9b60b10598f4780de648/1546393565515-TGR4WNI1F4UGYNL8Q78Y/adult-app-blur-1440722.jpg"
      alt="foto-hotel"
    />
    <mat-card-content>
      <p>
        Es tan sencillo como ir a la seccion de hoteles y podras ver toda la lista de hoteles. Ademas, usted podra
        buscar los hoteles por la provincia donde desea quedarse.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">
        IR A LA BUSQUEDA DE HOTELES
      </button>
    </mat-card-actions>
  </mat-card>
</div> 