<button style="margin-left: 50px"
mat-icon-button
[matMenuTriggerFor]="recmenu"
>
<mat-icon>more_vert</mat-icon>
</button>
<mat-menu #recmenu="matMenu">
<button mat-menu-item routerLink="/hotel-tasks/cantidadtarea">Ver cantidad de tareas por empleado</button>
<button mat-menu-item routerLink="/hotel-tasks/enproceso">Ver tareas en proceso</button>
</mat-menu>
 
 
 <app-hotel-tasks-buscar></app-hotel-tasks-buscar>
 <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
     <th mat-header-cell *matHeaderCellDef> id </th>
     <td mat-cell *matCellDef="let element"> {{element.id}} </td>
   </ng-container>
 

   <ng-container matColumnDef="name">
     <th mat-header-cell *matHeaderCellDef> Name </th>
     <td mat-cell *matCellDef="let element"> {{element.name}} </td>
   
 </ng-container>

 <ng-container matColumnDef="employer">
  <th mat-header-cell *matHeaderCellDef>Empleado</th>
  <td mat-cell *matCellDef="let element">{{ element.employer.first_nameEmployer }}</td>
</ng-container>

   <ng-container matColumnDef="description">
     <th mat-header-cell *matHeaderCellDef> Descripción </th>
     <td mat-cell *matCellDef="let element"> {{element.description}} </td>
   </ng-container>
   
   <ng-container matColumnDef="status">
     <th mat-header-cell *matHeaderCellDef> Estado </th>
     <td mat-cell *matCellDef="let element"> {{element.status}} </td>
   </ng-container>
 
   <ng-container matColumnDef="accion1">
     <th mat-header-cell *matHeaderCellDef> Acciones </th>
     <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary"
         [routerLink]="['edicion', element?.id]">Actualizar</button>
     </td>
   </ng-container>
   
   <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
   <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
 </table> 
 <div style="margin-left: 50px; margin-top: 20px;" class="example-button-container">
   <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon" [routerLink]="'/add-task'">
     <mat-icon>plus_one</mat-icon>
   </button>
 </div>
 
 