<app-nav-bar-turist></app-nav-bar-turist>
<div class="navbar-separator" style="margin-bottom: 20px"></div>
<h1 style="padding-left: 10px">Cantidad de tarjetas asignadas a una reserva</h1>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="tarjeta">
    <th mat-header-cell *matHeaderCellDef>Id de Tarjeta</th>
    <td mat-cell *matCellDef="let element">{{ element.credit_card }}</td>
  </ng-container>

  <ng-container matColumnDef="cantidad">
    <th mat-header-cell *matHeaderCellDef>Cantidad</th>
    <td mat-cell *matCellDef="let element">{{ element.cantidad }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>


