<div class="container">
<h1>Añadir Habitacion</h1>

  <mat-form-field class="example-full-width">
    <mat-label>Id</mat-label>
    <input matInput placeholder="id" [(ngModel)]="room.idRoom">
  </mat-form-field>

  <br>

  <mat-form-field class="example-full-width">
    <mat-label>Number</mat-label>
    <input matInput required placeholder="number" [(ngModel)]="room.numberRoom">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Disponible</mat-label>
    <input matInput required placeholder="is_available" [(ngModel)]="room.availableRoom">
  </mat-form-field>

  <br>
  <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
  <button mat-raised-button color="warn" [routerLink]="'/rooms'">Cancelar</button>
  <p>{{mensaje}}</p>

</div>   